@import "tailwindcss";
@plugin "tailwindcss-animate";

html,
body,
#app {
  height: 100%;
}

body {
  font-family: "IBM Plex Sans Variable", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-background: #000000;
  --color-border: #4c4c4c;
  --color-green: #6ae65a;
  --color-red: #fe5252;
  --color-red-text: #f57976;
  --color-blue: #246cc4;
  --color-disabled: #4f4f4f;
  --color-disabled-text: #929292;
  --color-neutral: #919191;

  --text-base: 12px;
  --text-sm: 10px;
  --text-xs: 8px;

  --leading-base: 14px;
  --leading-sm: 14px;
  --leading-xs: 8px;
}

@layer components {
  .no-interact {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .btn {
    @apply px-2 py-1 text-white font-semibold text-base/base bg-background border border-border rounded-md;
  }

  .input {
    @apply bg-background border border-border text-white text-base/base font-semibold px-2 py-1 rounded-md focus:outline outline-white;
  }
}

@layer base {
  button {
    cursor: pointer;
  }
}
